#game-account-template-1 { padding-top: 40px; font-family: Roboto; }
#view-container { width: 591px; height: 1265px; position: relative; float: right; margin-right: 40px; }
#view-container img { width: 591px; height: 1265px; }
#view-container #url { position: absolute; top: 88px; left: 205px; }
#view-container #url #url-content { color: rgb(31 19 59 / 0.82); font-size: 20px; font-weight: bold; }
#view-container #time-view { position: absolute; left: 42px; top: 21px; }
#view-container #time-view #time-view-content { font-weight: bold; font-size: 17pt; color: black; }
#view-container #pin { position: absolute; right: 22px; top: 25px; }
#view-container #pin img { width: 38px; height: 17px; }
#view-container #signal-1 { position: absolute; right: 66px; top: 25px; }
#view-container #signal-1 img { width: 27px; height: 13px; }
#view-container #signal-wifi { position: absolute; right: 100px; top: 25px; }
#view-container #signal-wifi img { width: 26.5px; height: 16px; }
#view-container #account-name-view { position: absolute; left: 34px; top: 260px; }
#view-container #account-name-view #account-name-view-content { color: white; font-size: 17pt; background-color: #1379ff; padding-top: 8px; padding-bottom: 8px; padding-left: 27px; padding-right: 27px; border-top-right-radius: 27px; border-bottom-right-radius: 27px; }
#view-container #account-balance-view { position: absolute; top: 303px; right: 58px; }
#view-container #account-balance-view #account-balance-view-content { font-size: 29pt; color: white; font-weight: bold; }