#game-account-template-1 { padding-top: 40px; font-family: Roboto; }
#view-container { width: 591px; height: 1200px; position: relative; float: right; margin-right: 40px; }
#view-container img { width: 591px; height: 1200px; }
#view-container #url { position: absolute; top: 85px; left: 125px; }
#view-container #url #url-content { color: rgb(31 19 59 / 0.82); font-size: 20px; font-weight: bold; }
#view-container #time-view { position: absolute; left: 31px; top: 21px; }
#view-container #time-view #time-view-content { font-weight: 400; font-size: 16pt; color: #58585a; }
#view-container #pin { position: absolute; right: 33px; top: 22px; }
#view-container #pin img { width: 12px; height: 17px; }
#view-container #pin-percent-view { position: absolute; right: 46px; top: 21px; }
#view-container #pin-percent-view #pin-percent-view-content { color: #424244; font-size: 16pt; }
#view-container #signal-1 { position: absolute; right: 94px; top: 23px; }
#view-container #signal-1 img { width: 20px; height: 16px; }
#view-container #signal-2 { position: absolute; right: 116px; top: 23px; }
#view-container #signal-2 img { width: 20px; height: 16px; }
#view-container #signal-wifi { position: absolute; right: 138px; top: 22px; }
#view-container #signal-wifi img { width: 22px; height: 19px; }
#view-container #total-tab-view { position: absolute; right: 82px; top: 85px; }
#view-container #total-tab-view #total-tab-view-content { color: #02000d; font-weight: bold; font-size: 14pt; }
#view-container #account-name-view { position: absolute; left: 33px; top: 248px; }
#view-container #account-name-view #account-name-view-content { color: white; font-size: 17pt; background-color: #1379ff; padding-top: 8px; padding-bottom: 8px; padding-left: 27px; padding-right: 27px; border-top-right-radius: 27px; border-bottom-right-radius: 27px; }
#view-container #account-balance-view { position: absolute; top: 292px; right: 58.5px; }
#view-container #account-balance-view #account-balance-view-content { font-size: 29pt; color: white; font-weight: bold; }