#game-account-template-1 { padding-top: 40px; font-family: Roboto; }
#view-container { width: 591px; height: 1264px; position: relative; float: right; margin-right: 40px; }
#view-container img { width: 591px; height: 1264px; }
#view-container #url { position: absolute; top: 89px; left: 200px; }
#view-container #url #url-content { color: rgb(31 19 59 / 0.82); font-size: 20px; font-weight: bold; }
#view-container #time-view { position: absolute; left: 42px; top: 21px; }
#view-container #time-view #time-view-content { font-weight: bold; font-size: 17pt; color: black; }
#view-container #pin { position: absolute; right: 22px; top: 25px; }
#view-container #pin img { width: 38px; height: 17px; }
#view-container #signal-1 { position: absolute; right: 66px; top: 25px; }
#view-container #signal-1 img { width: 27px; height: 13px; }
#view-container #signal-wifi { position: absolute; right: 100px; top: 25px; }
#view-container #signal-wifi img { width: 26.5px; height: 16px; }
#view-container #account-name-view { position: absolute; left: 125px; top: 185px; }
#view-container #account-name-view #account-name-view-content { color: #ddf9ff; font-size: 17pt; font-weight: 400; }
#view-container #account-balance-view { position: absolute; left: 26px; top: 243px; }
#view-container #account-balance-view #account-balance-view-content { font-size: 42pt; color: white; font-weight: 400; }